#main_menu ul li{
        display: inline-block;
        margin: 5px;
}

#main_menu ul li {
        color: black;
        font-weight: bolder;
}
#main_menu ul li div :hover{
        color: white;
}


#main_menu ul li :hover{
        color: #2e58ca;
}



        /* section#home{
                margin-top: 100px;
        } */


.section-title p span u{
        text-decoration: none;
}

.active{
        color: #2e58ca;
}

.btn-two {
	text-decoration: none;
        color: white;
	background:#2e58ca;
	border: 1px solid #2e58ca;
	padding: 9px 30px;
	font-weight: 700;
	display: inline-block;
	border-radius: 100px;
	font-size: 15px;
	transition: 0.3s;
}

.btn-two:hover {
        text-decoration: none;
	color: #2e58ca;
	border: 1px solid #2e58ca;
        background-color: #fff;
}


.section-top::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(71, 71, 71, 0.079);
}

.home-ps {
	background: #fff;
	width: 200px;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
	position: absolute;
	top: 5%;
}
.home-ps img {
	width: 40px;
	float: left;
	margin-right: 10px;
}
.home-ps h2 {
	overflow: hidden;
	font-weight: 800;
}
.home-ps span{font-size: 14px;}

.home-ps2 {
	background: #fff;
	width: 200px;
	padding: 20px;
	border-radius: 30px;
		position: absolute;
	top: 10%;
	right:0;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.home-ps2 img {
	width: 40px;
	float: left;
	margin-right: 10px;
}
.home-ps2 h2 {
	overflow: hidden;
	font-weight: 800;
}
.home-ps2 span{font-size: 14px;}

.text-smaller {
        font-size: 12px;
}